[Config]
league: Harbinger
loadErrorStashTab: False

[URL]
TradeApi: http://www.pathofexile.com/api/public-stash-tabs?id=
PoENinjaAPI: http://cdn.poe.ninja/api/Data/
GetStats: GetStats

[PoeNinjaApi]
UniqJewel: GetUniqueJewelOverview
UniqArmour: GetUniqueArmourOverview
UniqWeapon: GetUniqueWeaponOverview
UniqMaps: GetUniqueMapOverview
UniqFlask: GetUniqueFlaskOverview
UniqAccessory: GetUniqueAccessoryOverview
DivCard: GetDivinationCardsOverview

[Discord]
Webhook: https://discordapp.com/api/webhooks/347402594945335297/d6SCkOWWSOfyd3L3SJya6h_5qRAUX8KbWWHR-yb61iY8_o806aUybgcu3DzNP783mATx

